        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
         :root {
            --purple: #814096;
            --pink: #F83292;
            --blue: #012a58;
            --yellow: #f4f74d;
            --gradient: linear-gradient(90deg, var(--purple), var(--pink));
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Poppins';
            outline: none;
            text-transform: capitalize;
        }
        
        *::selection {
            background: var(--pink);
            color: #fff;
        }
        
        html {
            font-size: 62.5%;
            overflow-x: hidden;
        }
        
        body {
            background: #f9f9f9;
        }
        
        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: #fff;
            padding: 2rem 9%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            z-index: 1000;
        }
        
        header .logo {
            font-weight: 600;
            font-size: 2rem;
            color: var(--purple);
        }
        
        header .logo span {
            color: var(--pink);
        }
        
        header .navbar button {
            background: transparent;
            font-weight: 700;
            padding: 0.4rem 1.4rem;
            font-size: 1.7rem;
            margin-left: 2rem;
            line-height: 2rem;
            border-color: #00BF7F;
            border-radius: 20px;
            border-style: solid;
            border-width: 0.1rem;
            color: #000;
            justify-content: space-between;
        }
        
        header .navbar button:hover {
            background-color: #00BF7F;
            color: #fff;
        }
        
        header input {
            display: none;
        }
        
        header label {
            font-size: 3rem;
            color: var(--purple);
            cursor: pointer;
            visibility: hidden;
        }
        
        header a {
            text-decoration: none;
        }
        
        section {
            min-height: 50vh;
            padding: 0.9%;
            padding-top: 7.3rem;
            position: relative;
        }
        
        .canvas {
            display: flex;
            flex-direction: column;
            background: #f9f9f9;
            background-size: cover;
            align-items: center;
        }
        
        .content {
            box-shadow: 0 2rem 2rem 2rem rgba(233, 69, 69, 0.1);
            width: 800px;
            height: 384px;
            position: relative;
            margin: 50px auto;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 10px;
            border-radius: 30px;
            /* background-color: red; */
        }
        
        .bars-container {
            width: 600px;
            margin: 0 auto;
            position: relative;
        }
        
        .buttons {
            justify-content: space-between;
            padding-top: 2rem;
        }
        
        .btn-control {
            padding: 5px;
            font-weight: bolder;
            background-color: #6f459e;
            border-radius: 10px;
            margin-left: 2rem;
            color: white;
            font-size: 2rem;
            border: white;
        }
        
        .bar {
            margin-bottom: 10px;
            text-align: center;
            font-weight: bold;
            width: 28px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: rgb(255, 0, 234);
            transition: 0.2s all ease;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        
        .bar__id {
            position: absolute;
            top: -24px;
            width: 100%;
            text-align: center;
        }
        
        .mySlides {
            display: none;
        }
        
        .canvas hr {
            border: 5px solid rgb(94, 100, 94);
            border-radius: 10px;
            min-width: 50%;
            justify-content: center;
        }
        
        .information {
            margin-left: 100px;
            font-weight: 600;
        }
        
        .information h2 {
            font-size: xx-large;
            font-weight: 800;
            color: rgb(255, 86, 86);
        }
        
        .information h3 {
            font-weight: 700;
        }
        
        .information h5 {
            font-weight: 600;
        }
        
        .information p {
            line-height: 2.5rem;
            font-size: 1.2rem;
        }
        
        .sort-info {
            display: none;
        }
        
        .show {
            display: block;
        }
        /* Fotter */
        
        .footer {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("http://andreeabunget.co.uk/Img/footer.jpg");
            background-size: cover;
        }
        
        .first {
            margin-top: 40px;
            margin-bottom: 50px;
            color: rgb(206, 206, 206);
            font-family: 'Poppins', sans-serif;
        }
        
        .first h4 {
            font-size: 20px;
            letter-spacing: 3px;
            position: relative;
            margin-bottom: 20px;
            font-size: 1.6em;
            color: #fff;
            padding-bottom: 0.5em;
        }
        
        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
        .first p {
            font-size: 14px;
        }
        
        .second {
            margin-top: 40px;
            margin-bottom: 50px;
            color: rgb(206, 206, 206);
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
        
        .second2 {
            margin-top: 40px;
            margin-bottom: 50px;
            color: rgb(206, 206, 206);
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
        
        .second h4 {
            font-size: 20px;
            letter-spacing: 3px;
            position: relative;
            margin-bottom: 20px;
            font-size: 1.6em;
            color: #fff;
            padding-bottom: 0.5em;
        }
        
        .second h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 40%;
        }
        
        .second li {
            list-style: none;
            padding-bottom: 30px;
        }
        
        .second a,
        .second2 a {
            color: rgb(206, 206, 206);
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 14px;
            transition: 0.2s;
        }
        
        .second a:hover,
        .second2 a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
            text-decoration: none
        }
        
        .third {
            margin-top: 40px;
            margin-bottom: 50px;
            color: rgb(206, 206, 206);
            font-family: 'Poppins', sans-serif;
            text-align: right;
        }
        
        .third h4 {
            font-size: 20px;
            letter-spacing: 3px;
            position: relative;
            margin-bottom: 20px;
            font-size: 1.6em;
            color: #fff;
            padding-bottom: 0.5em;
        }
        
        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }
        
        .third li {
            list-style: none;
            padding-bottom: 15px;
        }
        
        .third a {
            color: rgb(206, 206, 206);
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 14px;
            transition: 0.2s;
        }
        
        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
        }
        
        @media screen and (max-width:1000px) {
            .first {
                text-align: center;
            }
            .first h4::after {
                left: 40%;
            }
        }
        
        @media screen and (max-width:1000px) {
            .third {
                text-align: center;
            }
            .third h4::after {
                left: 40% !important;
            }
        }
        
        .margin {
            margin-left: 20px;
        }
        
        .line {
            height: 2px;
            background-color: rgb(206, 206, 206);
            width: 100%;
        }
        
        .container h1 {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        /* media queries */
        
        @media (max-width:1200px) {
            html {
                font-size: 55%;
            }
        }
        
        @media(max-width:768px) {
            header label {
                visibility: visible;
                opacity: 1;
            }
            header .navbar {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: #fff;
                padding: 1rem 2rem;
                border-top: .1rem solid rgba(0, 0, 0, .2);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
                transform-origin: top;
                transform: scaleY(0);
                opacity: 0;
            }
            header .navbar a {
                display: block;
                background-color: #fff;
                margin: 2rem 0;
                font-size: 2rem;
            }
            header input:checked~.navbar {
                transform: scaleY(1);
                opacity: 1;
            }
            header input:checked~label::before {
                content: '\f00d';
            }
            section {
                min-height: 50vh;
                padding: 0.3%;
                padding-top: 6rem;
                align-items: center;
                position: relative;
            }
            .canvas {
                display: flex;
                background: #f9f9f9;
                background-size: cover;
                justify-content: space-between;
            }
            .btn {
                padding: 5px;
                font-weight: bolder;
                background-color: #6f459e;
                border-radius: 10px;
                color: white;
                font-size: 2rem;
                border: white;
            }
        }
        
        @media (max-width:450px) {
            html {
                font-size: 50%;
            }
            .content {
                width: 500px;
                height: 384px;
                position: relative;
                margin: 50px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                border-radius: 30px;
            }
        }